@font-face {
	font-family: NotoSansTC-Regular;
	src: url(../fonts/NotoSansTC-VariableFont_wght.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: NotoSansTC-Bold;
	src: url(../fonts/NotoSansTC-VariableFont_wght.ttf);
	font-weight: bold;
	font-style: normal;
}

.body {
	color: #333;
	font-size: 16px;
	font-family: NotoSansTC-Regular, Arial, Helvetica, sans-serif;
}

.row_page_header {
	height: 9em;
	margin-left: -20px;
}

h1,
h2,
h3 {
	font-family: NotoSansTC-Bold, Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4,
h5,
h6 {
	font-size: 1em;
}

.avatar-top {
	font-size: 0.8em;
	margin-top: 2em;
	font-weight: bold;

}

.avatar-top img {
	width: 32px;
	margin-right: .2em;
	clip-path: circle(15px at center);
	margin-top: -3;
}

.article {
	margin-bottom: 3em;
}

.article-title {
	margin-bottom: .1em;
}

.article-title-a {
	text-decoration: none;
	color: #333;
}

.article-title a:hover {
	color: #666;
}